<footer class="desktop tablet"><p>© 2022 Group xD</p></footer>


{{!-- Can move to another file but please DONT DELETE AGAIN -  FS --}}

{{!-- close popup script moved to js file below --}}
<script src="/scripts/footer.js"></script>