
<div id="charts-container">
    <div id='chart-bkg' class="hist-chart bl-chart">
        <canvas id='bloodChart'></canvas>
    </div>
    <div id='chart-bkg' class="hist-chart wt-chart">
        <canvas id='weightChart'></canvas>
    </div>
    <div id='chart-bkg' class="hist-chart in-chart">
        <canvas id='insulinChart'></canvas>
    </div>
    <div id='chart-bkg' class="hist-chart ex-chart">
        <canvas id='exerciseChart'></canvas>
    </div>
</div>

<script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
<script>
    var histData = {{{histData}}}
</script>
<script src='/scripts/hist-charts.js'></script>