<h5>Recent Data</h5>

<div>
  <canvas id="myChart"></canvas>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var histData = {{{histData}}}
</script>
<script src="/scripts/hist-chart.js"></script>
