<section class="leaderboard-container">
    <h5>Leaderboard</h5>
    <div class="scroll">
        <div class="user-place">
            <p>You are 1st!</p>
        </div>
        <div class="first placing">
            <img class="medal" src="https://uxwing.com/wp-content/themes/uxwing/download/24-sport-and-awards/gold-medal.svg">
            <p>Pat</p>
        </div>
        <div class="second placing">
            <img class="medal place-number" src="https://uxwing.com/wp-content/themes/uxwing/download/24-sport-and-awards/silver-medal.svg">
            <p>Naomi</p>
        </div>
        <div class="third placing">
            <img class="medal place-number" src="https://uxwing.com/wp-content/themes/uxwing/download/24-sport-and-awards/bronze-medal.svg">
            <p>Tarkik</p>
        </div>
        <div class="fourth placing">
            <h5 class="place-number">4th</h5>
            <p></p>
        </div>
        <div class="fifth placing">
            <h5 class="place-number">5th</h5>
            <p>Ige</p>
        </div>
    </div>
</section>