<style>
nav {
  width: 100%;
  overflow: visible;
  background-color: #488adc;
  width: 100%;
  color: #ffffff;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 3rem;
  margin: auto;
  box-shadow: 0px 1.5px 0px #ffffff; /*background colour*/
}
.nav-back {
  font-size: 1.3rem;
}
.nav-back span,
.nav-back div {
  display: inline-block;
  vertical-align: middle;
}
nav a {
  text-decoration: none;
  color: #ffffff;
}

.nav-name div,
.nav-logo {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
}
.nav-logo {
  width: 2rem;
}
#nav-links {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  font-size: 1.3rem;
}
#nav-links a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
#nav-links a:hover,
.dropdown:hover .dropbtn {
  background-color: #ffffff;
  color: #488adc;
}
.dropdown-content {
  display: none;
  right: 0;
  position: absolute;
  background-color: #488adc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ffffff;
  color: #488adc;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
/* Make the back button disappear when the website is in the desktop view */
@media screen and (min-width: 1024px) {
  .nav-back {
    display: none;
  }
} /*
    Make the about and login button disappear when the website is in the tablet
    and phone view */
@media screen and (max-width: 1024px) {
  .nav-name,
  #nav-links {
    display: none;
  }
}

</style>
<nav>
    <a class="nav-back">
        <span class="material-icons">arrow_back_ios</span>
        <div>Back</div>
    </a>
    <a class="nav-name" href="/">
        <div>Diabetes</div>
        <img class="nav-logo" src="images/logo.svg" alt="logo" />
        <div>Home</div>
    </a>
    <div id="nav-links">
        <a href="login">Login</a>
        <div class="dropdown">
            <button class="dropbtn">About</button>
            <div class="dropdown-content">
                <a href="aboutUs">About D@H</a>
                <a href="aboutDiabetes">About Diabetes</a>
            </div>
        </div>
    </div>
</nav>
<script>
    if (window.location.pathname == "/") {
        document.getElementById("nav-links").style.display = "none";
    }
</script>