<div class="note">
    <h6 class="note-topic">Lorem Ipsum</h6>
    <p class="note-details">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet lacus in turpis laoreet maximus ut a metus. Nulla eros mauris, maximus vel risus in, maximus tincidunt ligula. Maecenas at consequat est.
    </p>
    <p class="note-time">12:34am 22/03</p>
</div>