<h5>7-Day Blood Glucose</h5>

<div id="chart-bkg">
  <canvas id="myChart"></canvas>
</div>
{{!-- <div id="chart-bkg">
  <canvas id="myChart2"></canvas>
</div> --}}



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var histData = {{{histData}}}
</script>
<script src="/scripts/recent-chart.js"></script>

