<style>
    .nav-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav-links {
        background-color: white;
        border-radius: 50%;
        width: 4.5rem;
        height: 4.5rem;
        border: 1px solid var(--brown-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-icons {
        width: 2.2rem;
    }
</style>

<div class="nav-buttons">
    <a href="/">
        <div class="nav-links">
            <img
                class="nav-icons"
                src="https://uxwing.com/wp-content/themes/uxwing/download/21-medical-science-lab/diagnostic-pulse.svg?fbclid=IwAR1zaDg8YWbt1LRrpu-2IynV1cZh296G-nxhCZfb2leP_v4WbXJRVmpaUSc"
                alt="view"
            />
        </div>
    </a>
    <a href="">
        <div class="nav-links">
            <img
                class="nav-icons"
                src="https://uxwing.com/wp-content/themes/uxwing/download/37-communication-chat-call/talk-bubble.svg?fbclid=IwAR2uTjZfSTihT5gGssLKvyiWhx-gUMphHcptNEcjUs7hPWT3abiHRm_RDqg"
                alt="comment"
            />
        </div>
    </a>
    <a href="">
        <div class="nav-links">
            <img
                class="nav-icons"
                src="https://uxwing.com/wp-content/themes/uxwing/download/03-editing-user-action/notebook-pen.svg?fbclid=IwAR1HYmoODkyjNK9OCZzQwiiwBj3aTYrJ5d2x8c0JGge4EAg7aVEOGLGEG_c"
                alt="support"
            />
        </div>
    </a>
</div>