<script src="/scripts/set-password.js"></script>

<div class="buffer"></div>
<section class="password-container">
    <h1>Forgot password?</h1>
    <p>Enter your account's email to reset your password</p>
    <form onchange="emailWithValue()">
        <input type="email" name="email" id="email" placeholder="user@email.com">
        <input type="button" id="email-submit" onclick="location.href='/reset_password';" value="SEND EMAIL"> 
    </form>
    <img class="password-logo" src="/images/logo.svg" alt="logo" />
</section>