<style>
.sub-nav {
  padding-top: 3.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

.sub-nav a {
  color: #000;
  text-decoration: none;
}

.banner {
  position: relative;
  background-color: #8DC4DC;
}

/*.banner-img {
  position: absolute;
  width: 100%;
}*/

.banner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0.5;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 2fr;
  grid-gap: 0;
  grid-template-areas: 
    "welcome space"
    "login space";
}

.welcome {
  grid-area: welcome;
  margin: auto;
  text-align: center;
}

.login {
  grid-area: login;
  margin: auto;
}

.btn-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.space {
  grid-area: space;
}
</style>
<div class="sub-nav">
    <a href="aboutDiabetes">About diabetes</a>
    <a href="aboutUs">About us</a>
</div>
<div class="banner">
    <img class="banner-img" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/woman-using-glucometer-on-blue-background-top-view-royalty-free-image-1585155304.jpg?crop=0.825xw:0.7xh;0.104xw,0.224xh" alt="Patient using glucometer">
    <div class="banner-content">
        <div class="welcome">
            <h1>Let's manage your health together!</h1>
        </div>
        <div class="login">
            <h3>Login now</h3>
            <div class="btn-list">
                <button onclick="location.href='login_p';">Patient</button>
                <button onclick="location.href='login_c';">Clinician</button>
            </div>
        </div>
        <div class="space"></div>
    </div>
</div>