<style>
.sub-nav {
  padding-top: 3.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

.sub-nav a {
  color: #000;
  text-decoration: none;
}

.banner {
  position: relative;
  background-color: #8DC4DC;
  max-width: 1920px;
  max-height: 360px;
  overflow: hidden;
}

.banner-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0.5;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-gap: 0;
  grid-template-areas: 
    "welcome space"
    "login space";
}

.welcome {
  grid-area: welcome;
  margin: auto;
  text-align: center;
}

.welcome h1 {
  color: #000;
}

.login {
  grid-area: login;
  display: flex;
  flex-direction: column;
}

.login h3 {
  text-align: center;
  color: #000000;
}

.btn-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn-list button {
  background-color: #488adc;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 1.25rem;
  padding: 3px;
}

.space {
  grid-area: space;
}

.feature-list {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}
</style>
<div class="sub-nav">
    <a href="aboutDiabetes">About diabetes</a>
    <a href="aboutUs">About us</a>
</div>
<div class="banner">
    <img class="banner-img" alt="Patient using glucometer" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/woman-using-glucometer-on-blue-background-top-view-royalty-free-image-1585155304.jpg">
    <div class="banner-content">
        <div class="welcome">
            <h1>Let's manage your health together!</h1>
        </div>
        <div class="login">
            <h3>Login now</h3>
            <div class="btn-list">
                <button onclick="location.href='login_p';">Patient</button>
                <button onclick="location.href='login_c';">Clinician</button>
            </div>
        </div>
        <div class="space"></div>
    </div>
    <div class="feature-list">
        <div class="feature">
          <img src="https://cdn.uxwing.com/wp-content/themes/uxwing/download/21-medical-science-lab/medical-report.svg" />
          <h4>Record your health data</h4>
        </div>
        <div class="feature">
          <img src="https://cdn.uxwing.com/wp-content/themes/uxwing/download/42-business-professional-services/chart.svg" />
          <h4>Be encouraged to stay healthy</h4>
        </div>
        <div class="feature">
          <img src="https://cdn.uxwing.com/wp-content/themes/uxwing/download/21-medical-science-lab/online-physician-consultation.svg" />
          <h4>Communicate with your clinician</h4>
        </div>
    </div>
</div>