<div class="sub-nav">
    <a href="about-diabetes">About diabetes</a>
    <a href="about-us">About us</a>
</div>
<div class="banner">
    <img class="banner-img" alt="Patient using glucometer" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/woman-using-glucometer-on-blue-background-top-view-royalty-free-image-1585155304.jpg?crop=0.9xw:0.7xh;0.025xw,0.2xh" />
    <div class="banner-content">
        <div class="welcome">
            <h1>Let's manage your health together!</h1>
        </div>
        <div class="login">
            <h3>Login now</h3>
            <div class="btn-list">
                <button onclick="location.href='login_p';">Patient</button>
                <button onclick="location.href='login_c';">Clinician</button>
            </div>
        </div>
        <div class="space"></div>
    </div>
</div>
<section class="features">
    <div class="feature-list">
        <div class="feature">
        <img src="https://uxwing.com/wp-content/themes/uxwing/download/21-medical-science-lab/medical-report.svg" />
        <h4>Record your<br/>health data</h4>
        </div>
        <div class="feature">
        <img src="https://uxwing.com/wp-content/themes/uxwing/download/35-fitness-gym-yoga-spa/healthy-lifestyle.svg" />
        <h4>Be encouraged to<br/>stay healthy</h4>
        </div>
        <div class="feature">
        <img src="https://uxwing.com/wp-content/themes/uxwing/download/21-medical-science-lab/online-physician-consultation.svg" />
        <h4>Communicate with<br/>your clinician</h4>
        </div>
    </div>
</section>

