<script>
function withValue(){
    if ((document.getElementById("password").value != "") && (document.getElementById("second-password").value != "")){
        document.getElementById("reset-submit").style.backgroundColor = "var(--green-color)"
        document.getElementById("reset-submit").style.cursor = "pointer"
    } else{
        document.getElementById("reset-submit").style.backgroundColor = "var(--brown-color)"
        document.getElementById("reset-submit").style.cursor = "default"
    }
}
</script>

<div class="buffer"></div>
<section class="password-container"> 
    <h1>Reset password</h1>
    <form onchange="withValue()">
        <input type="password" name="password" id="password" placeholder="New Password">
        <input type="password" name="password" id="second-password" placeholder="Re-enter Password">
        <input type="button" id="reset-submit" onclick="location.href='/patient/dashboard';" value="CONTINUE"> 
    </form>
    <img class="password-logo" src="/images/logo.svg" alt="logo" />
</section>