<script src="/scripts/set-password.js"></script>

<div class="buffer"></div>
<section class="password-container"> 
    <h1>Reset password</h1>
    <form onchange="passwordWithValue()">
        <input type="password" name="password" id="password" placeholder="New Password">
        <input type="password" name="password" id="second-password" placeholder="Re-enter Password">
        <button disabled="true" id="reset-submit">CONTINUE</button>
    </form>
    <img class="password-logo logo" src="/images/logo-white.svg" alt="logo" />
</section>