.container{
    /* background-color: var(--primary-color); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.container > * {
    color: var(--text-color);
}

.heading-large{
    font-size: 100px;
}