#db-container {
    width: 80%;
    margin: auto;
    padding-bottom: 5rem;
}

#db-container h1, h4 {
    font-family: var(--font-heading);
}

#db-container h1 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 3rem;
}

#db-container h4 {
    margin-bottom: 1rem;
    font-weight: bold;
}

.red-rec {
    background-color: red;
    height: 0.8rem;
    width: 0.8rem;
    display: inline-block;
}

.label > div > p {
    display: inline-block;
    margin-bottom: 0.2rem;
}

.label > p {
    margin-bottom: 0;
}

.table-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    bottom: 1px;
    font-size: 0.8rem;
}

.table {
    border: 1px var(--border-color) solid;
}

thead {
    background-color: var(--primary-color);
    color: var(--altText-color);
}

span {
    font-weight: normal;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: var(--secondary-color);
    color: var(--text-color);
    
}

a {
    color: inherit; 
    text-decoration: inherit;
}

a:hover {
    color: var(--blue-color);
}