.password-container {
    background-color: var(--bg-color);
    color: var(--border-color);
    text-align: center;
    top: 50%;
    min-height: 100%;
    width: 100%;
}

h1 {
    font-size: 3rem;
}

input {
    display: block;
    margin: auto;
}


.buffer {
    height: 20%;
}

form [type=button]{
    background-color: var(--border-color);
    color: var(--bg-color);
    border-radius: 0.5rem;
    border: solid var(--bg-color);

}

.password-logo {
    filter: invert(77%) sepia(29%) saturate(364%) hue-rotate(185deg) brightness(95%) contrast(86%);
    width: 30%;
    left: 30%;
    top: 80%;
}

@media screen and (max-width: 380px){
    h1 {
        font-size: 2rem;
    }
}