.password-container {
    background-color: var(--bg-color);
    color: var(--border-color);
    text-align: center;
    top: 50%;
    min-height: 100%;
    width: 100%;
}

.password-container form * {
    margin: auto;
}

.password-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.password-container input {
    display: block;
}

.password-container button {
    background-color: var(--grey-color);
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    margin-top: 3px;
}

.buffer {
    height: 15%;
}

.password-container form [type=button]{
    background-color: var(--border-color);
    color: var(--bg-color);
    border-radius: 0.5rem;
    border: solid var(--bg-color);

}

.password-logo {
    filter: invert(77%) sepia(29%) saturate(364%) hue-rotate(185deg) brightness(95%) contrast(86%);
    width: 30%;
    left: 30%;
    top: 80%;
}

@media screen and (max-width: 380px){
    .password-container h1 {
        font-size: 2rem;
    }
    .password-logo {
        width: 50%;
    }
}

@media screen and (min-width: 381px) and (max-width: 1029px) {
    .password-logo {
        width: 20%;
    }
}