.title-area {
    height: 13%;
    display: flex;
    justify-content: space-between;
}

.title-text {
    font-weight: bold;
}

.required-text {
    margin-top: 1rem;
    font-size: 0.8rem;
}

.data-container {
    height: 87%;
    display: flex;
    border: 1px solid var(--brown-color);
}

.date-area {
    height: 100%;
    width: 25%;
    background-color: var(--primary-color);
    color: white;
    border-right: 1px solid var(--brown-color);
    text-align: center;
    padding: 0.5em 0;
}

.date-area p {
    margin: 0.25em;
    font-weight: bold;
    line-height: 1;
}

.date-day {
    font-size: 2em;
}

.date-month {
    font-size: 1.25em;
}

.date-year {
    font-size: 1em;
}

#date-text-to {
    margin: 0.75em 0 0.75em 0;
    font-weight: normal;
}

.data-stacks {
    width: 75%;
}

.stack {
    height: calc(25% + 0.25px);
    width: 100%;
    background-color: var(--tertiary-color);
    border: 0;
    border-bottom: 1px solid var(--brown-color);
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    grid-template-areas:
        "st-icon st-name st-value";
    align-items: center;
    padding: 0;
    position: relative;
}

.stack-icon {
    grid-area: st-icon;
    text-align: center;
}

.stack-name {
    font-weight: bold;
    grid-area: st-name;
    text-align: left;
}

.stack-value {
    display: block;
    text-align: center;
    grid-area: st-value;
    font-size: calc(0.8 * var(--bs-body-font-size));
}

.stack-comment {
    display: none;
    grid-area: st-comment;
    height: 100%;
    background-color: white;
    border-left: 1px solid var(--brown-color);
    font-size: calc(0.8 * var(--bs-body-font-size));
    text-align: left;
    padding: 5px;
}

.value-text {
    font-size: 1.3rem;
}