@import "about.css";

.sub-nav {
    padding-top: 3.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-evenly;
  }

  
  .sub-nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
  }
  
  .banner {
    position: relative;
    background-color: #86C9E2;
    width: 100%;
    height: 30em;
    overflow: hidden;
  }
  
  .banner-img {
    float: right; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
  }
  
  .banner-content {
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7fr 2fr;
    grid-gap: 0;
    grid-template-areas: 
      "welcome space"
      "login space";
  }
  
  .welcome {
    grid-area: welcome;
    margin: auto;
    text-align: center;
  }
  
  .welcome h1 {
    color: black;
    font-family: var(--font-text);
  }
  
  .login {
    grid-area: login;
    display: flex;
    flex-direction: column;
  }
  
  .login h3 {
    text-align: center;
    color: black;
    font-family: var(--font-text);
    padding-bottom: 0.25em;
  }
  
  .btn-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .btn-list button {
    background-color: var(--primary-color);
    color: white;
    border: 1.5px solid white;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    width: 5em;
  }
  
  .space {
    grid-area: space;
  }
  
  .feature-list {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .feature img {
    height: 7.5em;
  }
  
  
  @media screen and (min-width: 1024px) {
  
    .banner-content {
      top: 0;
      grid-template-areas: 
        "welcome space"
        "login space";
    }
  
    .banner-img {
      display: block;
    }
    .feature-list {
  
      flex-direction: row;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .banner-content {
      grid-template-areas: 
        "welcome welcome"
        "login login";
    }
  
    .banner-img {
      display: none;
    }
    .feature-list {
      flex-direction: column;
    }
  
  }  