
h1 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 3rem;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

input[type=submit] {
    background-color: var(--brown-color);
    color: var(--bg-color);
    cursor: pointer;
}

.container {
    padding: 15%;
    width: 80%;
    background-color: var(--primary-color);
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}


