
h1 {
    font-size: 8vw;
    font-weight: 600;
    text-align: center;
    padding-bottom: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
}

h2 {
    font-size: 3vw;
    font-weight: 400;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

h3 {
    font-size: 2vw;
    font-weight: 100;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.login-logo {
    width: 8vw;
}

/*
input[type=submit] {
    background-color: var(--brown-color);
    border: var(--bg-color) solid;
    cursor:default;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}
*/

.login-container {
    align-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 50%;
    height: 80%;
    margin-bottom: 5%;
    background-color: var(--primary-color);
    color: var(--bg-color);
    text-align: center;
    border-radius: 3rem;
    margin: auto;
}

.login-container a{
    padding: 1rem;
    color: var(--bg-color);
    display: inline;
    font-size: 1rem;
}

form {
    text-align: center;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h4 {
    font-size: 1rem;
    display: none;
    color: #800035;
}

.buffer {
    height: 10%;
}

.login-page {
    min-height: 100%;
}

.login-page.clinician {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-page.patient {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#login-submit {
    background-color: var(--brown-color);
    border: var(--bg-color) solid;
    cursor:default;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.desktop-background {
    min-height: 100%;
}

.about-buttons {
    display: none;
    justify-content: space-between;
}

input[type=button] {
    background-color: var(--secondary-color);
    border: solid var(--bg-color);
    border-radius: 0.5rem;
}

.mobile-login-logo {
    display: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1024px) {
    .login-page.patient {
        background-image: url(https://post-phinf.pstatic.net/MjAxODA3MTZfMTkz/MDAxNTMxNzI3OTYyMDAz.TOz1mdltXgjJd54JFdH4UStRDVvSHAZ6x2W77fKFk9kg.KR0kJySZ0GNl4mFOYWNYj5kvKadaLauAdMHXGjW-pTQg.JPEG/GettyImages-990008836.jpg);
    }

    .login-page.clinician {
        background-image: url(https://c.pxhere.com/images/65/a4/091a7a2f5db459f94a9a8e4c1997-1444739.jpg!d);
    }
    
    
}

@media screen and (max-width: 1023px) {
    .login-page {
        background-color: var(--primary-color);
    }
    .login-container{
        width: 100%;
        height: 100%;
    }
    .clinician .login-form, .clinician #forgot-password {
        display: none;
    }
    #forgot-password{
        align-content: center;
        text-align: center;
    }
    #switch-login {
        display: none;
    }
    .about-buttons {
        display: flex;
        width: 100%;
    }
    .about-diabetes {
        margin: 5% 5%;
    }
    .about-us {
        margin: 5% 5%;
    }
    h4 {
        display: block;
    }
    
}    

@media screen and (max-width: 375px) {
    .about-buttons {
        text-align: center;
        display: block;
        left: 50%;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
        display: none;
    }

    .mobile-login-logo {
        display: block;

    }

    h2 {
        display: none;
    }

    h3 {
        font-size: 1.2rem;
    }

}