@import url("https://fonts.googleapis.com/css?family=Lexend"); /* text */
@import url("https://fonts.googleapis.com/css?family=Inter"); /* headings */

:root {
    --font-text: "Lexend", sans-serif;
    --font-heading: "Inter", sans-serif;
    
    --blue-color: #488adc;
    --lightBlue-color: #a8bce2;
    --offGrey-color: #e9ecf2;
    --offWhite-color: #f6f8fa;
    --deepBlue-color: #124b8e;
    --grey-color: #5c5c5c;
    --lightGrey-color: #6d6d6d;
    --offBlack-color: #303030;
    --red-color: #d91616;
    --green-color: #239651;
    --purple-color: #ab3bd5;
    --yellow-color: #ffba00;

    --bg-color: var(--offWhite-color);
    --border-color: var(--grey-color);
    --text-color: black;
    --alt-text-color: white;
    --button-color: var(--lightBlue-color);
    --primary-color: var(--blue-color);
    --secondary-color: var(--offGrey-color);
    --tertiary-color: white;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%; /* 16px */
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-text);
    min-height: 100vh;
    position: relative;
    color: var(--text-color);
}

button, .table-info, .table {
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

.icon {
    padding: 0.25rem;
}


