div.scroll {
    padding:4px;
    background-color: initial;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    width: auto;
    height: 150px;
}

.message-box-container{
    margin: auto;
    left: auto;
    right: auto;
}

.message{
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    padding: 10px;
    margin-bottom: 10px;
}
.unread > *{
    font-weight: bold;
}

.read{
    font-weight:1 ;
}

.message-details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}
.message-time{
    font-style: italic;
}

@media screen and (max-width: 380px){
div.scroll{
    height: 190px;
}
}
@media screen and (min-width: 1030px){
div.scroll{
    height: 290px;
}
}

.message-box-container h5 {
position: relative;
}

#unread-notif {
position: absolute;
float: right;
border-radius: 0.15em;
padding: 0.15em 0.3em 0.1em 0.3em;
font-weight: bold;
font-size: 0.8em;
right: 5px;
background-color: #f94d44;
color: white;
}