nav {
    width: 100%;
    overflow: visible;
    background-color: var(--primary-color);
    color: var(--alt-text-color);
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 48px;
    margin: auto;
    box-shadow: 0 1.5px 0 var(--alt-text-color);
    font-size: 16px;
}

#nav-back {
    font-size: 20.8px;
    display: block;
}

#nav-back span,
#nav-back div {
    display: inline-block;
    vertical-align: middle;
}

.nav-new-entry {
    border-radius: 50%;
    border-width: 2px;
}

.nav-new-entry span {
    font-size: 20px;
}

nav a,
nav a:hover {
    text-decoration: none;
    color: var(--alt-text-color);
}

.nav-name {
    padding-left: 16px;
}

nav .btn-light {
    border-radius: 3px;
    padding: 0 8px 0 8px;
    border: 2px solid var(--border-color)
}

nav .btn-outline-light:hover {
    color: var(--border-color);
}

.nav-name div,
.nav-logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
}

.nav-logo {
    width: 32px;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-links > * {
    flex-direction: row;
}

#nav-links a,
.dropbtn {
    height: 48px;
    padding: calc(16px - 3px);
}

#nav-links a {
    float: left;
    text-align: center;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    z-index: 5;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: var(--alt-text-color);
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#nav-links a:hover,
.dropdown:hover .dropbtn {
    background-color: var(--alt-text-color);
    color: var(--primary-color);
}
.dropdown-content {
    display: none;
    right: 0;
    position: fixed;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--border-color);
    z-index: 5;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: var(--alt-text-color);
    color: var(--primary-color);
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.nav-profile {
    margin: auto;
    padding-top: 12px;
}

.nav-profile > * {
    font-size: 12px;
    text-align: center;
}

.nav-profile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 5px;
}

nav .post-login,
nav .pre-login {
    display: flex;
    flex-direction: row;
}

nav .spacer {
    width: 50px;
}

nav .simple-spacer {
    width: 80px;
}

#simple-nav {
    text-align: center;
    display: flex;
}

nav .mobile {
    display: none;
}
nav .tablet {
    display: none;
}
nav .desktop {
    display: none;
}

.btn-outline-light {
    color: var(--alt-text-color);
    border-color: var(--alt-text-color);
}

@media screen and (max-width: 376px) {
    nav .mobile {
        display: flex;
    }
    
    #simple-nav .nav-name div {
        display: none;
    }
}

@media screen and (min-width: 376px) and (max-width: 1024px) {
    nav .tablet {
        display: flex;
    }
}

@media screen and (min-width: 1025px) {
    nav .desktop {
        display: flex;
    }
}
