.container {
    margin: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0px;
    right: 0px;
    width: 100%;
}
.content-container {
    background-color: var(--tertiary-color);
    padding: 5%;
    border: 1px solid var(--border-color);
    max-width: 700px;
    max-height: 700px;
    margin: auto;
}
.content-container > *{
display: flex;
justify-content: center;
}
.form-container {
/* background-color: cyan; */
padding: 0% 1% 0% 1%;
}
.grid{
display: grid;
grid-template-columns: 20% 10% 40% 30%;
grid-template-rows: 100%;
}
.data-form{
    display: flex;
    flex-direction: column;
}
.data-form > *{
    margin-bottom: 30px;
}
.data-form-row > *{
    margin: 10px
}

.unit-label{
    margin-left: 10px;
}
.comment-label{
    justify-self: flex-end;
    margin-right: 10px;
}
.data-input{
    height: 20px;
    box-shadow: inset 1px 1px 1px 1px rgb(178, 178, 178);
}
.comment-icon{
    display: none;
}
#popup-overlay .buttons{
    display: flex;
    justify-content: center;
}
#popup-overlay .buttons > *{
    margin: 0% 15px 0% 15px;
    color: initial;
}
#make-entry button.button {
    background-color: var(--button-color);
    border: 1px solid var(--border-color);
    color: var(--altText-color);
    border-radius: 4px;
}
.box {
    width: 70%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 99 !important;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
}
.popup .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
.textbox{
    justify-content: center;
    width: 99%;
    height: 200px
}
#popup-overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    overflow-y: hidden;
}

#escape-popup{
    width: 100%;
    height: 100%;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .container {
        margin: 0;
        padding: 20px;
        position: absolute;
        top: 50%;
        width: 100%;
        /*transform: translateY(-50%);*/
    }
    .content-container{
        border: none;
    }
    .grid{
        display: grid;
        grid-template-columns: 50% 40% 10%;
        grid-template-rows: 50% 50%;
    }
    #comment-button{
        display: block;
    }
    .comment-label{
        display: none;
    }
    .comment-input{
        display: none;
    }
    .comment-icon{
        display:flex;
        justify-self: end;
        width: 16px;
        height: 16px;
    }
    .comment-icon-container{
        display: flex;
        justify-content: end;
    }
}