@import "./histTable.css";
@import "./fullHistTable.css";
@import "./leaderboard.css";

#dashboard-body {
    padding-top: 70px;
    margin: auto;
    left: 0px;
    right: 0px;
}

#dashboard-body h2 {
    font-weight: bold;
    margin-left: 10%;
}

.home-container {
    background-color: var(--bg-color);
    display: none;
    position: relative;
    width: 80%;
    margin: auto;
    padding: 15px 0 30px 0;
}

.module {
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    box-shadow: 2px 2px 5px var(--border-color);
}

.module h5 {
    font-weight: bold;
}

#profile {
    grid-area: m1;
}

#leaderboard {
    grid-area: m2;
}

#messages {
    grid-area: m3;
}

#hist-today {
    grid-area: m1;
}

#hist-7days {
    grid-area: m2;
}

#hist-chart {
    grid-area: m3;
}

#p-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 50%;
    margin-top: 0.5rem;
}

.profile-img {
    position: relative;
}
.profile-pic {
    width: 10rem;
    position: absolute;
    left: 1rem;
}
.profile-badge {
    width: 2.7rem;
    position: absolute;
    top: 7.5rem;
}

.profile-text {
    width: 60%;
    padding-left: 15%;
}

.pname {
    padding-bottom: 1.5rem;
    font-weight: bold;
}

.pinfo {
    font-size: 1.2rem;
}

.progress {
    display: inline-block;
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: 90%;
}

.engagement h5 {
    font-family: var(--font-text);
    margin-bottom: 7%;
}

.engagement {
    padding-top: 5%;
    padding-left: 2rem;
}

.full-hist-title {
    font-weight: bold;
    padding-bottom: 1rem;
}

.ts:hover {
    cursor: pointer;
}

@media screen and (max-width: 375px) {

    #dashboard-body h2 {
        margin-left: 5%;
     }

    .home-container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    html {
        font-size: 80% !important;
    }

    .module {
        width: 100%;
        margin-bottom: 1rem;
        position: relative;
        overflow: hidden;
    }

    #hc1.module {
        height: 234px;
    }

    .engagement {
        padding-top: 10%;
    }

    #full-history tr th {
       font-size: 0.8rem;
    }

    #full-history tbody td {
        font-size: 0.8rem;
     }

     #full-history {
         width: 90%;
     }
}

@media screen and (min-width: 376px) {
    .home-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 4fr;
        grid-gap: 20px;
        grid-template-areas:
            "m1 m2 m3";
        grid-auto-columns: auto;
        grid-auto-rows: auto;

        margin: auto;
    }
    
    .module {
        width: 100%;
    }
    
    #hc1.module {
        height: 180px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 376px) {
    html {
        font-size: 60% !important;
    }
    .engagement {
        padding-top: 10%;
    }
}


@media screen and (min-width: 1025px) {
    .module {
        width: 100%;
    }

    #hc1.module {
        height: 346px;
    }
}