#dashboard-body {
    padding-top: 70px
}

#dashboard-body h2 {
    font-weight: bold;
}

.home-container {
    background-color: var(--bg-color);
    display: none;
    position: relative;
    width: 80%;
    margin: auto;
    padding: 15px 0 30px 0;
}

.module {
    border: 1px solid var(--brown-color);
    padding: 0.5rem;
    box-shadow: 2px 2px 5px var(--brown-color);
}

.module h5 {
    font-weight: bold;
}

#profile {
    grid-area: m1;
}

#leaderboard {
    grid-area: m2;
}

#messages {
    grid-area: m3;
}

#hist-today {
    grid-area: m1;
}

#hist-7days {
    grid-area: m2;
}

#hist-chart {
    grid-area: m3;
}

#p-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 70%;
    margin-top: 0.5rem;
}

.profile-img {
    position: relative;
}
.profile-pic {
    width: 10rem;
    position: absolute;
    left: 1rem;
}
.profile-badge {
    width: 2.7rem;
    position: absolute;
    top: 7.5rem;
}

.profile-text {
    width: 60%;
    padding-left: 15%;
}

.pname {
    padding-bottom: 1.5rem;
    font-weight: bold;
}

.pinfo {
    font-size: 1.2rem;
}

.progress {
    display: inline-block;
    background-color: white;
    border: 1px solid var(--brown-color);
    border-radius: 10px;
    width: 50%;
    margin-left: 1rem;
}

.engagement h5 {
    display: inline-block;
    font-family: var(--font-text);
}

.engagement {
    padding-top: 2rem;
    padding-left: 2rem;
}

.full-history {
    padding-top: 5px;
    width: 80%;
    margin: auto;
    padding-bottom: 5rem;
}

.red-rec {
    background-color: red;
    height: 0.8rem;
    width: 0.8rem;
    display: inline-block;
}

.label > div > p {
    display: inline-block;
    margin-bottom: 0.2rem;
}

.label > p {
    margin-bottom: 0;
}

.table-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    bottom: 1px;
    font-size: 0.8rem;
}

.table {
    border: 1px grey solid;
}

.table tbody tr {
    background-color: var(--tertiary-color);
}

.table td {
    padding: 0;;
}

.table .tb-date {
    padding: 0 5px 0 5px;
}

.tb-value {
    display: block;
}

.tb-comm {
    display: none;
}

span {
    font-weight: normal;
}
.date-text-a {
    font-size: 0.9rem;
} 

.date-text-a-b {
    font-size: 1.2rem;
}

.-- {
    margin-bottom: -1rem;
    margin-top: -0.5rem;
}

.table-striped>tbody>tr:nth-of-type(odd)>*, .table-striped>tbody>tr:nth-of-type(even)>* {
    --bs-table-accent-bg: transparent;
}

thead {
    background-color: var(--primary-color) !important;
    color: white;
}


.full-hist-title {
    font-weight: bold;
    padding-bottom: 1rem;
}

.ts:hover {
    cursor: pointer;
}

#dashboard-body h2 {
   padding-left: 10%;
}

@media screen and (max-width: 375px) {

    .home-container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    html {
        font-size: 80% !important;
    }

    .module {
        width: 100%;
        height: 234px;
        margin-bottom: 1rem;
        position: relative;
        overflow: hidden;
    }

    .full-history tr th {
       font-size: 0.8rem;
    }

    .full-history tbody td {
        font-size: 0.8rem;
     }

     .full-history {
         width: 90%;
     }
}

@media screen and (min-width: 376px) {
    .home-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 4fr;
        grid-gap: 20px;
        grid-template-areas:
            "m1 m2 m3";
        grid-auto-columns: auto;
        grid-auto-rows: auto;

        margin: auto;
    }
    .module {
        width: 100%;
        height: 180px;
    }
    
}

@media screen and (max-width: 1024px) and (min-width: 376px) {
    html {
        font-size: 60% !important;
    }
}


@media screen and (min-width: 1025px) {
    .module {
        width: 100%;
        height: 346px;
    }
}