@import "./histTable.css";
@import "./fullHistTable.css";
@import "./leaderboard.css";

#dashboard-body {
    padding-top: 70px;
    margin: auto;
    left: 0px;
    right: 0px;
}

#dashboard-body h2 {
    font-weight: bold;
    margin-left: 10%;
}

.home-container {
    background-color: var(--bg-color);
    display: none;
    position: relative;
    width: 80%;
    margin: auto;
    padding: 15px 0 30px 0;
}

.module {
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    box-shadow: 2px 2px 5px var(--border-color);
}

.module h5 {
    font-weight: bold;
}

#profile {
    grid-area: m1;
    display: grid;
    grid-template-areas:
        "pfp pfp pfp pname"
        "pfp pfp pfp pinfo"
        "pfp pfp pfp pinfo"
        "egmt egmt egmt egmt"
        "egmt egmt egmt egmt"
    ;
    padding: 1rem 1rem 0 1rem;
}

#profile-img {
    grid-area: pfp;
    position: relative;
    padding-right: 6rem;
    width: 10rem;
}

#profile-pic {
    width: 10rem;
    position: absolute;
    left: 1rem;
}
#profile-badge {
    width: 2.7rem;
    position: absolute;
    top: 7.5rem;
}

#pname {
    grid-area: pname;
    font-weight: bold;
}

#pinfo {
    font-size: 1.2rem;
    padding-left: 15%;
    width: 15rem;
}

#engagement {
    grid-area: egmt;
    padding-left: 2rem;
    margin-top: -2rem;
}

#engagement h5 {
    font-family: var(--font-text);
    margin-bottom: 7%;
}

#leaderboard {
    grid-area: m2;
}

#messages {
    grid-area: m3;
}

#hist-today {
    grid-area: m1;
}

#hist-7days {
    grid-area: m2;
}

#recent-chart {
    grid-area: m3;
}

#chart-bkg {
    background-color: var(--offWhite-color);
}

.profile-text {
    width: 60%;
    padding-left: 15%;
}

.progress {
    display: inline-block;
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: 90%;
    position: relative;
}

#egmt-val {
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.full-hist-title {
    font-weight: bold;
    padding-bottom: 1rem;
}

.ts:hover {
    cursor: pointer;
}

@media screen and (max-width: 380px) {

    #dashboard-body h2 {
        margin-left: 5%;
     }

    .home-container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    html {
        font-size: 80% !important;
    }

    .module {
        width: 100%;
        margin-bottom: 1rem;
        position: relative;
        overflow: hidden;
    }

    #hc1.module {
        height: 234px;
    }

    #engagement {
        padding: 0 0 5% 5%;
        margin-top: 0;
    }

    #full-history tr th {
       font-size: 0.8rem;
    }

    #full-history tbody td {
        font-size: 0.8rem;
     }

     #full-history {
         width: 90%;
     }
}

@media screen and (min-width: 381px) {
    .home-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 4fr;
        grid-gap: 20px;
        grid-template-areas:
            "m1 m2 m3";
        grid-auto-columns: auto;
        grid-auto-rows: auto;

        margin: auto;
    }
    
    .module {
        width: 100%;
    }
    
    #hc1.module {
        height: 180px;
    }
    
}

@media screen and (max-width: 1029px) and (min-width: 381px) {
    html {
        font-size: 60% !important;
    }

}


@media screen and (min-width: 1030px) {
    .module {
        width: 100%;
    }

    #hc1.module {
        height: 346px;
    }
}