@import "./c-patientProfile.css";
@import "./fullHistTable.css";

#register-container {
    width: 85%;
    margin: auto;
    padding-top: 5rem;
}

#register-container form {
    margin: 0 10%;
}

.header {
    height: 5rem;
    display: flex;
    align-items: center;
    position: relative;
}

.add-btn {
    background-color: var(--primary-color);
    color: var(--altText-color);
    font-weight: bold;
    border: 1px solid var(--border-color);
    cursor: default;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.header-text {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: initial;
    margin-bottom: 0.3rem;
}

.row {
    font-size: 1rem;
    margin: 0 10% 1.5rem 10%;
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    justify-content: space-evenly;
}

#register-container .g-1 input, #register-container .g-1 select {
    width: 10rem;
}

#register-container .g-2 input {
    width: 5rem;
}

.checkbox {
    height: 1rem;
    width: 3rem;
    accent-color: var(--green-color);
}