@import "./c-patientProfile.css";
@import "./fullHistTable.css";

/* viewPatientNav styles */
.nav-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links {
    background-color: white;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    border: 1px solid var(--brown-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icons {
    width: 2.2rem;
}

#view-container {
    width: 80%;
    margin: auto;
}

.space {
    padding-top: 5rem;
}

.head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.profile {
    width: 70%;
}

.view-nav {
    width: 25%;
    margin: auto;
}

.require-container {
    border: 1px solid var(--brown-color);
    padding-left: 0;
    padding-right: 0;
    width: 100% !important;
    position: relative;
    height: 15rem;
}

.header {
    height: 4rem;
    background-color: var(--tertiary-color);
    border-bottom: 1px solid var(--brown-color);
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-text {
    font-size: 1.7rem;
    font-weight: bold;
}

.row {
    font-size: 1rem;
}

input {
    width: 5rem;
}

.checkbox {
    height: 1rem;
    width: 3rem;
    accent-color: var(--green-color);
}

.require-text > span, .require-text > div{
    display: inline-block;
    margin-top: auto;
}

.require-text {
    display: flex;
    flex:1;
    position: absolute;
    right: 1rem;
    bottom: 0;
}

.full-history {
    width: 100%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

h2 {
    font-weight: bold;
    text-align: center;
}