@import "./c-patientProfile.css";
@import "./fullHistTable.css";

/* viewPatientNav styles */
.nav-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links {
    background-color: white;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icons {
    width: 2.2rem;
}

#view-container {
    width: 80%;
    margin: auto;
}

.space {
    padding-top: 5rem;
}

.head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.profile {
    width: 70%;
}

.view-nav {
    width: 25%;
    margin: auto;
}

#require-container, #message-container, #notes-container {
    border: 1px solid var(--border-color);
    padding-left: 0;
    padding-right: 0;
    width: 100% !important;
    position: relative;
    height: 15rem;
    background-color: var(--bg-color);
}

#message-container, #notes-container {
    display: none;
}

.header {
    height: 4rem;
    background-color: var(--tertiary-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.add-btn {
    float: right;
    position: absolute;
    right: 1em;
    font-size: 0.75em;
    top: calc(50% - 0.625em);
    background: none;
    border: 0;
    color: white;
}

.header-text {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: initial;
    margin-bottom: 0;
}

.row {
    font-size: 1rem;
    margin-top: 0;
}

input {
    width: 5rem;
}

.checkbox {
    height: 1rem;
    width: 3rem;
    accent-color: var(--green-color);
}

.require-text > span, .require-text > div{
    display: inline-block;
    margin-top: auto;
}

.require-text {
    display: flex;
    flex:1;
    position: absolute;
    right: 0.625em;
    bottom: 0.375em;
}

#view-container .scroll {
    height: calc(11rem - 6px);
    padding: 10px;
}

#full-history {
    width: 100%;
    margin: auto;
    padding-bottom: 5rem;
}

h2 {
    font-weight: bold;
    text-align: center;
}

.new-text-entry {
    padding-bottom: 10px;
}

.form-control {
    margin-right: 4px;
    border-radius: 0;
    border: 1px solid var(--border-color);
}

.form-control:first-child {
    margin-right: 4px;
}

#new-note-body {
    margin-top: 3px;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0;
}

.input-group-append .btn {
    padding: 0.375rem 0.5rem;
    border-radius: 2px;
}

#view-container hr {
    width: 35%;
    border-top: 1px solid var(--border-color);
    margin: 10px auto 0px auto;
    opacity: 0.75;
}

.new-text-entry {
    display: none;
}

/* remove bootstrap background color */
.bg-light {
    background-color: rgba(0, 0, 0, 0)!important;
}