<script src="/scripts/login.js"></script>

<section class="login-page clinician">
    <div class="buffer"></div>
    <div class="login-container">
        <h1>
            D
            <img class="login-logo logo" src="/images/logo-white.svg" alt="logo" />
            H
        </h1>
        
        <h2>
            <em>Diabetes at Home</em>
        </h2>
        <h3>
            <strong>
                Clinician Login
            </strong>
        </h3>
        {{#each flash}}
        <p class="alert">{{this}}</p>
        {{/each}}
        <h4>Error: Clinician Login only available on desktop</h4>
        <form action="login-c" method="POST" onchange="withValue()" class="login-form">
            <input type="text" id="email" name="username" placeholder="user@email.com"> <br>
            <input type="password" id="password" name="password" placeholder="Password"> <br> <br>
            <input type="submit" id="login-submit" value="Submit">
        </form>
        
        <a href="/login-p" id="switch-login"> Login as patient </a>
        <a href="/forgot-password" id="forgot-password">Forgot Password?</a>

    </div>
</section>