<section>
    <div class="container">
        <h1>
            <div>D</div>
            <img class="nav-logo" src="/images/logo.svg" alt="logo" />
            <div>H</div>
        </h1>
        <h2>
            <em>Diabetes at Home</em>
        </h2>
        <h3>
            <strong>
                Login as clinician
            </strong>
        </h3>
        <form>
            <input type="text" id="email" name="email" placeholder="user@email.com"> <br>
            <input type="text" id="password" name="password" placeholder="Password"> <br> <br>
            <input type="submit" value="Log In">
        </form>
        

    </div>
    


</section>