<div id="register-container">
    <form action="/clinician/register" method="POST">
        <div class="header">
        <div class="header-text-wrapper">
            <h1 class="header-text">Basic patient information</h1>
        </div>
        </div>
        <div class="row g-1" >
            <div class="col-5">
                <div class="p-3" style="margin-left: 110px;" >First name:
                    <input required type="text"  name="firstName" />
                </div>
            </div>
            <div class="col-5">
                <div class="p-3" style="margin-left: 70px;" >Last name:
                    <input required type="text"  name="lastName" />
                </div>
            </div>
            <div class="col-5">
                <div class="p-3" style="margin-left: 110px;">Age:
                    <input required type="number"  name="age" />
                </div>
            </div>
            <div class="col-5">
                <div class="p-3" style="margin-left: 70px;">Gender:
                    <select required name="gender">
                        <option value=""></option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <div class="col-5">
                <div class="p-3" style="margin-left: 110px;">Email:
                   <input required type="email" id="email" name="email">
                </div>
            </div>
            <div class="col-5">
                <div class="p-3" style="margin-left: 70px;">Password:
                  <input required type="text"  name="password" />
                </div>
            </div>
        </div>
                {{!-- <input type="text" placeholder="First name" name="firstName" />
                <input type="text" placeholder="Last name" name="lastName" />
                <input type="text" placeholder="NickName" name="nickName" />
                <input type="number" placeholder="age" name="age" />
                <input type="text" placeholder="gender" name="gender" />
                <input type="number" placeholder="engagementRate" name="engagementRate" />
                <input type="text" placeholder="Theme" name="theme" />
                <input type="text" placeholder="email" name="email" />
                <input type="text" placeholder="password" name="password" /> --}}
                
        
        <div class="header">
        <div class="header-text-wrapper">
                <h1 class="header-text">Time-series Requirements</h1>
        </div>
        </div>
        <div class="row g-2">
            <div class="col-5">
                <div class="p-3">Blood Glucose Level:
                    <input required class="from" name="bloodLow" type="number" step="0.01" />
                    to
                    <input required class="to" name="bloodHigh" type="number" step="0.01"/>
                    nmol/L  
                    
                    <input class="checkbox"  type="checkbox" name="bloodRequired"/>
                </div>
            </div>
            <div class="col-5">
                <div class="p-3">Weight:
                    <input required class="from" name="weightLow" type="number" step="0.1"/>
                    to
                    <input required class="to" name="weightHigh" type="number" step="0.1"/>
                    kg
                    <input class="checkbox" type="checkbox" name="weightRequired"/>
                </div>
            </div>
            <div class="col-5">
                <div class="p-3">Insulin Taken:
                    <input required class="from" name="insulinLow" type="number" />
                    to
                    <input required class="to" name="insulinHigh" type="number"/>
                    doses
                    <input class="checkbox" type="checkbox" name="insulinRequired" />
                </div>
            </div>
            <div class="col-5">
                <div class="p-3">Exercise:
                    <input required class="from" name="exerciseLow" type="number" step="100"/>
                    to
                    <input required class="to" name="exerciseHigh" type="number" step="100"/>
                    steps
                    <input class="checkbox" type="checkbox" name="exerciseRequired"/>
                </div>
            </div>
        </div>
        <button type="submit" class="add-btn">Register</button></h1>
    </form>

</div>
