<h1>jjjj</h1>
<form action="/clinician/register" method="POST">
 
    <input type="text" placeholder="First name" name="firstName" />
    <input type="text" placeholder="Last name" name="lastName" />
    <input type="text" placeholder="NickName" name="nickName" />
    <input type="text" placeholder="email" name="email" />
    <input type="text" placeholder="password" name="password" />
    <input type="number" placeholder="age" name="age" />
    <input type="text" placeholder="gender" name="gender" />
    <input type="number" placeholder="engagementRate" name="engagementRate" />
    <input type="text" placeholder="Theme" name="theme" />
    <button type="submit"></button>
</form>
