<div id="view-container">
    <div class="space"></div>
    <div class="head">
        <div class="profile">
            {{>patientProfile patient}}
        </div>
        <div class="view-nav">
            {{>viewPatientNav}}
        </div>
        
    </div>
    

    <div id="require-container">
        <div class="header">
            <h1 class="header-text">Time-series Requirements<button class="add-btn">Save</button></h1>
        </div>
        <div class="row g-2">
            <div class="col-5 offset-1">
                <div class="p-3 bg-light">Blood Glucose Level:
                    <input class="from" type="number" />
                    to
                    <input class="to" type="number" />
                    nmol/L
                    <input
                        class="checkbox"
                        type="checkbox"
                        checked="checked"
                    />
                </div>
            </div>
            <div class="col-5 offset-1">
                <div class="p-3 bg-light">Weight:
                    <input class="from" type="number" />
                    to
                    <input class="to" type="number" />
                    kg
                    <input class="checkbox" type="checkbox" />
                </div>
            </div>
            <div class="col-5 offset-1">
                <div class="p-3 bg-light">Insulin Taken:
                    <input class="from" type="number" />
                    to
                    <input class="to" type="number" />
                    doses
                    <input class="checkbox" type="checkbox" />
                </div>
            </div>
            <div class="col-5 offset-1">
                <div class="p-3 bg-light">Exercise:
                    <input class="from" type="number" />
                    to
                    <input class="to" type="number" />
                    steps
                    <input class="checkbox" type="checkbox" />
                </div>
            </div>
        </div>
        <div class="require-text">
            <span class="material-icons">done</span>
            <div>Required to record</div>
        </div>
    </div>

    <div id="message-container">
        <div class="header">
            <h1 class="header-text">Support Messages<button onclick="newTextEntry('new-message')" class="add-btn">Send Message</button></h1>
        </div>
        <div class="scroll">
            <div id="new-message" class="new-text-entry">
                <div class="input-group">
                    <input id="new-msg-text" type="text" class="form-control" placeholder="New message" aria-label="New message" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button onclick="cancelTextEntry('new-message')" class="btn btn-outline-danger" type="button"><span class="material-icons">close</span></button>
                        <button onclick="sendMsg('new-msg-text')" class="btn btn-outline-success" type="button"><span class="material-icons">send</span></button>
                    </div>
                </div>
            <hr>
            </div>
            {{#each patient}} {{!-- TODO: insert message variable into hbs for each msg --}}
                {{>message-box}}
            {{/each}}
        </div>
    </div>

    <div id="notes-container">
        <div class="header">
            <h1 class="header-text">Notes on Patient<button onclick="newTextEntry('new-note')" class="add-btn">Add Note</button></h1>
        </div>
        <div class="scroll">
            <div id="new-note" class="new-text-entry">
                <div class="input-group">
                    <input id="new-note-topic" type="text" class="form-control" placeholder="New note topic" aria-label="New note" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button onclick="cancelTextEntry('new-note')" class="btn btn-outline-danger" type="button"><span class="material-icons">close</span></button>
                        <button onclick="addNote('new-note-topic', 'new-note-body')" class="btn btn-outline-success" type="button"><span class="material-icons">save</span></button>
                    </div>
                </div>
                <input id="new-note-body" class="form-control" type="text" placeholder="Note body"></input>
            <hr>
            </div>
            {{#each patient}} {{!-- TODO: insert note variable into hbs for each note --}}
                {{>note-box}}
            {{/each}}
        </div>
    </div>

    <h2 style="padding-top: 3rem;">Full History</h2>
    {{>fullHistTable timeSeriesList=timeSeriesList}}
</div>

<script src="/scripts/view-patient.js"></script>