{{!-- base patient dashboard layout, with empty frames to be occupied by features (e.g. history) --}}
<div id="dashboard-body">
    <h2>Dashboard</h2>
    <div class="home-container" id="hc1">
        <div id="profile" class="module">
            {{>patientProfile patient}}
        </div>
        <div id="leaderboard" class="module">
            {{>leaderboard patient allPatEgmts=allPatEgmts}}
        </div>
        <div id="messages" class="module">
            <div class="message-box-container">
                <h5>Message Box<span id="unread-notif">NEW!</span></h5>
                <div class="scroll">
                    {{#each messages}} {{!-- TODO: insert message variable into hbs for each msg --}}
                        {{>message-box this viewAsPatient=true}} 
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <h2>Recent History</h2>
    <div class="home-container" id="hc2">
        <div id="hist-today" class="module">
            {{>histTable todayTimeSeries todayArray=todayArray}}
        </div>
        <div id="hist-7days" class="module">
            {{>averagehistTable averageTimeseries startDateArray=startDateArray endDateArray=endDateArray}}

        </div>
        <div id="recent-chart" class="module">{{>recent-chart histData=histData}}</div>

    </div>
    <h2>Full History<button id="toggleChart" onclick="toggleChart()">Show Chart</button></h2>
    {{>fullHistTable timeSeriesList=timeSeriesList}}
    {{>hist-charts histData=histData}}
    
</div>

<script>
    var required = {
        "blood": {{todayTimeSeries.bloodGlucose.isRequired}},
        "weight": {{todayTimeSeries.weight.isRequired}},
        "insulin": {{todayTimeSeries.insulin.isRequired}},
        "exercise": {{todayTimeSeries.exercise.isRequired}}
    }
</script>

<script src="/scripts/p-dashboard.js"></script>