<div class="home-container">
    <div id="profile" class="module">{{> patientProfile patient}}</div>
    <div id="leaderboard" class="module">text</div>
    <div id="messages" class="module">text</div>
    <div id="hist-today" class="module">text</div>
    <div id="hist-7days" class="module">text</div>
    <div id="recent-data" class="module">text</div>
</div>