<div class="home-container">
    {{> patientProfile patient}}
    <div id="d1" class="module">text</div>
    <div id="d2" class="module">text</div>
    <div id="d3" class="module">text</div>
    <div id="d4" class="module">text</div>
    <div id="d5" class="module">text</div>
    <div id="d6" class="module">text</div>
</div>