<script src="/scripts/login.js"></script>

<section class="login-page patient">
    <div class="buffer"></div>
    <div class="login-container">
        <h1>
            D
            <img class="login-logo logo" src="/images/logo-white.svg" alt="logo" />
            H
        </h1>
        <img class="mobile-login-logo logo" src="/images/logo-white.svg" alt="logo" />
        <h2>
            <em>Diabetes at Home</em>
        </h2>
        <h3>
            <strong>
                Patient Login
            </strong>
        </h3>
        {{#each flash}}
        <p class="alert">{{this}}</p>
        {{/each}}
        <form action="login-p" method="POST" onchange="withValue()" class="login-form">
            <input type="text" id="email" required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" name="username" placeholder="user@email.com"> <br>
            <input type="password" id="password" name="password" placeholder="Password"> <br> <br>
            <input type="submit" id="login-submit" value="Submit">
        </form>

        <a href="/login-c" id="switch-login"> Login as clinician </a>
        
        <a href="/forgot-password" id="forgot-password">Forgot Password?</a>

        <div class="about-buttons">
            <form>
                <input type="button" onclick="window.location.href='/about-diabetes';" value="ABOUT DIABETES" class="about-diabetes"/>
            </form>
            <form>
                <input type="button" onclick="window.location.href='/about-us';" value="ABOUT THIS SITE" class="about-us"/>
            </form>
        </div>

    </div>
    
    
</section>