<script src="/scripts/login.js"></script>

<section class="login-page patient">
    <div class="buffer"></div>
    <div class="login-container">
        <h1>
            D
            <img class="login-logo" src="/images/logo.svg" alt="logo" />
            H
        </h1>
        <img class="mobile-login-logo" src="/images/logo.svg" alt="logo" />
        <h2>
            <em>Diabetes at Home</em>
        </h2>
        <h3>
            <strong>
                Patient Login
            </strong>
        </h3>
        <form name="login-entry-form" action="/login-p" method="POST" onchange="withValue()" class="login-form">
            <input type="text" id="email" name="loginEmail" placeholder="user@email.com"> <br>
            <input type="password" id="password" name="loginPassword" placeholder="Password"> <br> <br>
            <input type="button" id="login-submit" value="LOG IN" onclick="location.href='/patient/dashboard';">
        </form>
        
        <a href="/login-c" id="switch-login"> Login as clinician </a>
        
        <a href="/forgot-password" id="forgot-password">Forgot Password?</a>

        <div class="about-buttons">
            <form>
                <input type="button" onclick="window.location.href='/about-diabetes';" value="ABOUT DIABETES" class="about-diabetes"/>
            </form>
            <form>
                <input type="button" onclick="window.location.href='/about-us';" value="ABOUT THIS SITE" class="about-us"/>
            </form>
        </div>

    </div>
    
    
</section>