<nav>
    <div id="nav-container">
        <a class="nav-back">
            <span class="material-icons">arrow_back_ios</span>
            <div>Back</div>
        </a>
        <a class="nav-name">
            <div>Diabetes</div>
            <img class="nav-logo" src="images/logo.svg" alt="logo" />
            <div>Home</div>
        </a>
        <div class="nav-links">
            <a class="nav-login">Login</a>
            <a class="nav-about">About</a>
        </div>
    </div>
</nav>
<section>
    <h1>About Diabetes</h1>
    <div class="ytVid-container">
        <iframe
            src="https://www.youtube.com/embed/wZAjVQWbMlE"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        ></iframe>
    </div>
    <p>
        Diabetes is a chronic disease that occurs when our body cannot produce
        or properly respond to insulin. Insulin is a hormone that regulates
        blood sugar, so not getting enough insulin means that blood sugar levels
        may become too high.<sup id="cite_ref_1-0">
            <a href="#cite_note_1">1</a></sup>
    </p>

    <p>
        Having sugar in our blood is extremely important because it is the main
        source of energy for our cells. This is why having low blood sugar makes
        us dizzy—our cells will not work properly without sugar!<sup
            id="cite_ref_2"
        ><a href="#cite_note_2">2</a></sup>
        However, as the proverb goes, &#34;everything in moderation&#34;; high
        blood sugar levels are also harmful for us.
    </p>

    <h2>About High Blood Sugar</h2>
    <p>
        The main reason why high blood sugar is harmful is that it damages blood
        vessels. As a result, our important organs may not get enough blood.<sup
            id="cite_ref_3"
        ><a href="#cite_note_3">3</a></sup>
        This can lead to illnesses in:
    </p>
    <ul>
        <li>Heart</li>
        <li>Brain</li>
        <li>Kidneys</li>
        <li>Eyes</li>
        <li>Teeth</li>
        <li>Feet</li>
        <li>
            Nerves<sup id="cite_ref_4-0"><a href="#cite_note_4">4</a></sup>
        </li>
    </ul>

    <p>
        Furthermore, high blood sugar can also damage our immune system. In a
        healthy body, our blood vessels produce chemicals to absorb our
        blood&#39;s white blood cells into our body whenever we get an
        infection. When our blood sugar levels are high, however, our blood
        vessels are less capable at absorbing white blood cells. Not only that,
        too much blood sugar also reduces the effectiveness of the white blood
        cells and stops the production of antibacterial proteins.<sup
            id="cite_ref_5"
        ><a href="#cite_note_5">5</a></sup>
    </p>

    <h2>Types of Diabetes</h2>
    <p>
        <strong>Type 1 diabetes</strong>
        is when our immune system attacks the pancreas, which is the organ that
        produces insulin. This type of diabetes is mainly found in younger
        people.
        <sup id="cite_ref_4-1"><a href="#cite_note_4">4</a></sup>
    </p>

    <p>
        <strong>Type 2 diabetes</strong>
        is when our body don&#39;t react to insulin properly, making the hormone
        less effective. This type of diabetes can be found in any age group,
        although older adults who are overweight, have a family history of
        diabetes, or have had gestational diabetes are more likely to get type 2
        diabetes.<sup id="cite_ref_6"><a href="#cite_note_6">6
            </a></sup>
    </p>

    <p>
        <strong>Gestational diabetes</strong>
        is a type of diabetes caused by changes in our body produced during
        pregnancy. Due to these changes, our bodies don&#39;t react to insulin
        as much, and some people's bodies cannot keep up with this change. Those
        who have developed gestational diabetes are also more likely to develop
        type 2 diabetes later on.<sup id="cite_ref_7">
            <a href="#cite_note_7">7</a></sup>
    </p>

    <h2>Treatments</h2>
    <p>
        Although there is no cure for diabetes, symptoms can be negated with the
        use of insulin injection and, in the case of type 2 diabetes, with oral
        medication.
    </p>

    <p>
        Diabetes can also be reduced through a variety of lifestyle changes such
        as:
    </p>
    <ul>
        <li>A low-sugar diet</li>
        <li>Physical exercise</li>
        <li>Tobacco abstinence</li>
        <li>Blood pressure & lipid control</li>
        <li>Foot care</li>
        <li>
            Regular screening<sup id="cite_ref_1-1"><a href="#cite_note_1">1
                </a></sup>
        </li>
    </ul>
</section>

<hr />

<section>
    <h3>References</h3>
    <ol id="citation-list">
        <li id="cite_note_1">
            <sup><a class="ref-a" href="#cite_ref_1-0">&#8593;</a>
                <a class="ref-a" href="#cite_ref_1-0">a</a>
                <a class="ref-a" href="#cite_ref_1-1">b</a></sup>
            "Diabetes," World Health Organization, modified November 10, 2021,
            <a
                href="https://www.who.int/news-room/fact-sheets/detail/diabetes"
            >https://www.who.int/news-room/fact-sheets/detail/diabetes</a>.
        </li>
        <li id="cite_note_2">
            <sup><a class="ref-a" href="#cite_ref_2">&#8593;</a></sup>
            Marina Basina and Rachel Nall, "Everything You Need to Know About
            Hypoglycemia (Low Blood Sugar)," Healthline, published November 17,
            2021,
            <a
                href="https://www.healthline.com/health/hypoglycemia"
            >https://www.healthline.com/health/hypoglycemia</a>.
        </li>
        <li id="cite_note_3">
            <sup><a class="ref-a" href="#cite_ref_3">&#8593;</a></sup>
            Steven Dowshen, "When Blood Sugar Is Too High," KidsHealth, reviewed
            May 2018,
            <a
                href="https://kidshealth.org/en/teens/high-blood-sugar.html"
            >https://kidshealth.org/en/teens/high-blood-sugar.html</a>.
        </li>
        <li id="cite_note_4">
            <sup><a class="ref-a" href="#cite_ref_4-0">&#8593;</a>
                <a class="ref-a" href="#cite_ref_4-0">a</a>
                <a class="ref-a" href="#cite_ref_4-1">b</a></sup>
            "What is Diabetes?" National Institute of Diabetes and Digestive and
            Kidney Diseases, reviewed December 2016,
            <a
                href="https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes"
            >https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes</a>.
        </li>
        <li id="cite_note_5">
            <sup><a class="ref-a" href="#cite_ref_5">&#8593;</a></sup>
            Mechanisms in Medicine, "The Effects of Hyperglycemia on the Immune
            System", October 24, 2012, YouTube video, 2:36,
            <a
                href="https://www.youtube.com/watch?v=YCsyTd29i9Y"
            >https://www.youtube.com/watch?v=YCsyTd29i9Y</a>.
        </li>
        <li id="cite_note_6">
            <sup><a class="ref-a" href="#cite_ref_6">&#8593;</a></sup>
            "Type 2 Diabetes," National Institute of Diabetes and Digestive and
            Kidney Diseases, reviewed May 2017,
            <a
                href="https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes/type-2-diabetes"
            >https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes/type-2-diabetes</a>.
        </li>
        <li id="cite_note_7">
            <sup><a class="ref-a" href="#cite_ref_7">&#8593;</a></sup>
            "Symptoms & Causes of Gestational Diabetes," National Institute of
            Diabetes and Digestive and Kidney Diseases, reviewed May 2017,
            <a
                href="https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes/gestational/symptoms-causes"
            >https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes/gestational/symptoms-causes</a>.
        </li>
    </ol>
</section>